$h1-color: #fff842;
$white: #ffffff;

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: $white;
    -webkit-font-smoothing: antialiased;
    background: #2b2b2b;
}
  h1 {
    font-size: 3em;
    font-weight: 300;
    line-height: 1em;
    text-align: center;
    color: $h1-color;
  }
